body {
    background-color: #dac292;
    margin: 0;
}
.container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 700px;
    border: 3px solid black;
    padding: 10px;
    border-radius: 25px;
    background-color: #c4b7a6;
    display: flex;
    flex-direction: column;
}

.output {
    margin-top: 20px;
    inline-size: 150px;
    overflow-wrap: break-word;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 100px;
    border: 3px solid black;
    padding: 10px;
    border-radius: 25px;
    background-color: #e6e2d3;
    ;
}

.number {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 133.3px;
    height: 100px;
    border: 3px solid black;
    transition: 0.2s;
    border-radius: 25px;
}

.rowOne, .rowTwo, .rowThree {
    display: flex;

}

.output {
    text-align: left;
    font-family: 'Courier New';
    font-size: 25px;
    font-weight: bold;
}

.footer {
    background-color:lightgray;
    position: absolute;
    top: 200; right: 0; bottom: 0; left: 0;
    font-size: 20px;
    font-family: 'Helvetica';
    font-style: italic;

}

button:hover {
    background-color: lightgray;
    transition: 0.2s;
}